@import url('https://fonts.googleapis.com/css?family=Oswald');

#header {
    text-align: center; 
    background-color: #006989;
    background-image: url("caminitoopaco.jpg");
    background-repeat: repeat;
    box-shadow: 0px 5px 15px #8c97a3; 
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 10px; 
    height: 300px; 
    padding-left: 10%;
}

#header #header_texto {
	font-size: 3em;
    float:left; 
    text-align: left; 
    padding-left: 10px;
    position: relative; 
    top: 50%; 
    transform: translate(0, -50%);  
    vertical-align: middle;
    color: black;
    font-family: 'Oswald', sans-serif;
}

#footer img{
    background-image: url("footer2.jpg");
}

#menu ul {
    padding:10px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

#menu ul li { 
    display: inline; 
}

#menu ul li a {
    padding: 12px 80px;
    display: inline-block;
    margin-left: 120px;
    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    border-bottom: solid 3px #76C2AF;
}

body * {
  font-family: 'Oswald', sans-serif;
}
.conteudo {
    background-color: FFCA81;   
    padding: 25px; 
    position: relative;
    height: 1000px;
}

.conteudo .cidade{
    background-color: #FF952C;
    margin: 25px;
    padding: 5px;
    position: relative;
    border-radius: 15px;
}

.conteudo .restaurantes{
    background-color:#BDC9D6;
    margin: 25px;
    padding: 25px;
    position: relative;
    border-radius: 15px;
}

.conteudo .restaurantes #fotoRest {
    box-shadow: 4px 4px 4px #ccc;
    width: 389px;
    height:293px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 3px;
    position: relative;
}

.conteudo .restaurantes #fotoRest img{
    width: 384px;
    height:288px;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;   
}

.conteudo .restaurantes #fotoRest img #foto{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: (0,0,0,0.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

.conteudo .entretenimento{
    background-color: aqua;
    margin: 25px;
    padding: 5px;
    position: relative;
    border-radius: 15px;
}

footer h3 {
  margin: 0 auto;
  position: absolute;
}
