* {
    margin: 0;
}

.grego{
    height: 100vh;
    width: 100vw;
    background-color: springgreen;
}

.container, .col {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
    height: 11.11%;
  }

  .larg15{
    width: 15vw;
  }

  .larg7{
    width: 7vw;
  }

  .larg78{
    width: 78vw;
  }
  .larg63{
    width: 63vw;
  }
  .larg37{
      width: 37vw;
  }
  .full{
      width: 100vw;
  }

  .white {
    background-color: #ffffff;
  }
  
  .blue {
    background-color: #002f6c;
  }