<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pokedex</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="estilo.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <section id="meuPrimeiroApp">
    <div id="topo">
      <h1 id="textoTopo">POKEMÓN: "Temos que pegar!"</h1>
      <input type="text" v-model="idParaBuscar" v-on:blur="buscar()" placeholder="Digite o ID do Pokemón">
      <button id="escolheAleatorio">Ou gere um ID aqui!</button>
    </div>
    <div id="container">
      <div id="lateralEsquerda">
          <h2 v-if="idParaBuscar.length>0">ID do Pokemón: {{idParaBuscar}}</h2>
          <h1 id="nome">Nome: {{pokemon.nome}}</h1>
          <h1 id="peso">Peso: {{pokemon.peso}} kg</h1>
          <h1 id="altura">Altura: {{pokemon.altura}} cm</h1>
          <h4>Confira em que tipos seu poke está enquadrado:</h4>
          <ul>
              <li v-for="tipo in pokemon.tipos">{{tipo}}</li>
          </ul>
      </div>
      <div id="centro">
        <img v-bind:src="pokemon.thumbUrl" v-bind:alt="pokemon.nome">   
      </div>
      <div id="lateralDireita">
          <h2 v-if="idParaBuscar.length>0">Texto Digitado: {{idParaBuscar}}</h2>
          <h1>{{pokemon.nome}}</h1>
          <ul>
            <li v-for="tipo in pokemon.tipos">{{tipo}}</li>
          </ul>
      </div>
    </div>
  </section>
  <script src="src/pokeApi.js"></script>
  <script src="src/pokemon.js"></script>
  <script src="src/app.js"></script>
</body>
</html>
